<!DOCTYPE html>
<html xmls="http://thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Edición de docentes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
	<div class="container mt-4">
		<div class="col-sm-6">
			<form th:action="@{/listar}" th:object="${docentes}" method="post" onsubmit="return submitForm(this);">
				<div class="card">
					<div class="card-reader">
						<h3>Module Docentes</h3>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label for="id">ID</label>
							<input th:field="*{id}" type="text" class="form-control" id="id"/>
						</div>
						<div class="form-group">
							<label for="nombres">Nombres</label>
							<input th:field="*{nombres}" type="text" class="form-control" id="nombres"/>
						</div>
						<div class="form-group">
							<label for="telefono">Telefono</label>
							<input th:field="*{celular}" type="text" class="form-control" id="telefono"/>
						</div>
						<div class="form-group">
							<label for="direccion">Dirección</label>
							<input th:field="*{direccion}" type="text" class="form-control" id="direccion"/>
						</div>
						<div class="form-group">
							<label for="correo">Correo</label>
							<input th:field="*{email}" type="text" class="form-control" id="correo"/>
						</div>
						
					</div>
				</div>
				<div class="card-footer">
					<input type="submit" value="Save" class="btn btn-success">
				</div>
			</form>
		</div>
		
		
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js">  </script>
	

	<script>
    function submitForm(form) {
		var input = document.getElementById("nombres").value;
        swal({
            title: "Esta seguro?",
            text: "Se editara el usuario " + input,
            icon: "success",
            buttons: true,
            
        })
        .then(function (isOkay) {
            if (isOkay) {
                form.submit();
            }
        });
        return false;
    }
</script>
</body>
</html>