<!DOCTYPE html>
<html xmls:th="http://thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	
</head>
<body>
	<div class="container mt-4">
		<a th:href="@{/new}" class="btn btn-success">Nuevo Docente</a>
		<a th:href="@{http://localhost:8080/listar}" class="btn btn-primary">Listar Alumnos</a>
		<a th:href="@{http://localhost:8081/listar}" class="btn btn-primary">Listar Carreras</a>
		<a th:href="@{http://localhost:8082/listar}" class="btn btn-primary">Listar Materias</a>
		<a th:href="@{http://localhost:8084/listar}" class="btn btn-primary">Listar Notas</a>
		<br> <br>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Direccion</th>
					<th>Nombres</th>
					<th>Telefono</th>
					<th>Accion</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="docente:${docentes}">
					<td th:text=${docente.id}></td>
					<td th:text=${docente.direccion}></td>
					<td th:text=${docente.nombres}></td>
					<td th:text=${docente.celular}></td>
					<td> 
						<a th:href="@{/edit/}+${docente.id}" class="btn btn-success">Editar</a>
						<a th:onClick="eliminar([[${docente.id}]])" class="btn btn-danger">Eliminar</a>
				</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="js/funciones.js"></script>
	
	
</body>
</html>